* {
    margin: 0;
}

.header_logo {
    width :40px;
    height :40px;
    margin: 10px;
    object-fit: contain;
}

.header {
    background-color:rgb(36, 32, 32);
    display: flex;
    align-items: center;
}

.header_searchbar {
    display: flex;
    flex:1;
    margin:5px;
}

.header_search {
    height: 25px;
    width: 20%;
    
    
}

.header_search_icon {
    height:25px !important;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.header_navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.header_link {
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 600px) {
    .header_searchbar {
        display: none;
    }
    
    
    .header_search_icon {
       display: none;
    }
}
.header_link:hover {
    text-decoration: none;
    color: rgb(206, 166, 166);
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.h {
    margin:10px;
    font-size: 14px;
    font-weight: bold;
}