.bb {
    margin:20px;
}

#jh {
    margin:20px;
    align-self: center;
}

.gf {
    margin: 10px;
}

#formHorizontalRadios1 {
    margin-right: 10px;
}

#formHorizontalRadios2 {
    margin-right: 10px;
}

#df {
    width: 400px;
}

#FormControlFile {
    margin: 15px;
}

.kl {
    margin-top: 110px;
}

#lo {
    margin-top: 10px;
}

