* {
    margin : 0;
}

#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

#in{
 margin: 10px;
 padding: 8px;
}

#hh{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#jj {
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    height: 30px;
    width: auto;
    
}

#kl {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

#gh {
    background-color: rgb(182, 156, 156);
    margin:20px;
    
}

#ot{
    display: flex;
    justify-content: center;
}

#button-tooltip-2{
    background-color: black;
    color:blanchedalmond;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

#cim{
    margin-right: 5px;
}

#bt1{
    color: aquamarine;
    background-color: darkcyan;
}

#gg {
    word-wrap: break-word;
    text-align: center;
    margin:5px;
    padding: 10px;
    font-weight: 100;
    justify-content: center;
    font-size: small;
    color: white;

    
}

#gl{
    text-align: center;
    margin:5px;
    font-weight: 800;
    font-size: 20px;
    color: white;
}

#jkl{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#cc{
    width: 18rem;
}

#mcc{
    background-color: rgb(77, 67, 67);
    margin: 20px;
}