* {
    margin : 0;
}

#pic {
    width: 288px;
    height: 250px;
}



#hh{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#jj {
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    height: 30px;
    width: auto;
    
}

#kl {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

#gh {
    background-color: bisque;
    margin:20px;
}

#gg {
    width: 200px;
    text-align: center;
    margin:5px;
    font-weight: 100;
    justify-content: center;
    font-size: small;
    
}

#gl{
    text-align: center;
    margin:5px;
    font-weight: 800;
    font-size: 20px;
}

#jkl{
    margin-left: 115px;
    margin-top: 20px;
    margin-bottom: 20px;
}

