@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.f {
    margin-top: 10px;
    padding: 10px;
    
}

.box {
   display: flex;
   justify-content: center;
}

.screen {
     /* background-color: grey;   */
    margin-top: 30px;
    display: flex;
    justify-content:center;

    
}

#pi{
    height: 200px;
    width: 200px;
}

#te{
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-family: 'Monoton', cursive;
    font-size:larger

}

#jl {
    text-align: center;
    
}

#pl {
    text-decoration: none;
}

#ll{
    text-align: center;
    margin: 30px;
    background-color: #222222;
    padding: 40px;
    padding-bottom: 40px;
}